AddDefaultCharset UTF-8
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?_url=/$1 [QSA,L]
</IfModule>
# permet de rediriger les urls sans le / final
# redirige tout vers index.php
# et envoie la variable _url avec l'url demandée
# exemple : http://www.monsite.com/monarticle (ce qu'on voit)
# devient : http://www.monsite.com/index.php?_url=/monarticle (ce qu'on envoie au serveur)
